{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{%static "style/custom-properties.css"%}">
    <link rel="stylesheet" href="{%static "style/custom-fonts.css"%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>vidio SignUp</title>
</head>
<body style="background-color: orchid">
    <div class=" center-content row">
        <div class="col-md-3 ">

        </div>
        <div class="col-md-6 bg-light" style="    box-shadow: 5px 5px 260px #ffbef8;">
        <h1 class="mt-4 center-content" style="color: #9e26ff;font-family: title-font" >BECOME A VIDIDOTIAN</h1>
            <div class="container center-content mt-3">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form userForm %}
                    {% bootstrap_form profileForm %}

                    <input type="submit" class="btn btn-primary" value="Sign Up">

                </form>
            </div>
        </div>
        <div class="col-md-3" style="background-color: orchid">

        </div>
    </div>


</body>
</html>