@font-face {
    font-family: field-font;
    src: url(baveuse3d.ttf);
}

@font-face {
    font-family: subtitle-font;
    src: url(bahnschrift.ttf);
}

@font-face {
    font-family: title-font;
    src: url(baveuse3d.ttf);
}